  body {
            font-family: 'Courier New', monospace;
            background-color: #000000;/* Dark background color */
            color: #ffffff; /* Light text color */
            margin: 0;
            padding: 20px;
        }

        h1, h2, h3 {
            color: #f5f542; /* cyberponk color */
        }

        a {
            color: ##f5f542;  
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        #sidebar {
            float: left;
            width: 20%;
        }

        #main-content {
            float: left;
            width: 80%;
        }

        #writeup-content {
            padding: 20px;
            background-color: #2a2a2a; /* Darker background color for writeup content */
            border-radius: 5px;
        }
           ul.horizontal {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        ul.horizontal li {
            float: left;
        }

        ul.horizontal li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        ul.horizontal li a:hover {
            background-color: #4CC0C0;
        }
.comment-button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #000000;
        border-radius: 6px;
        outline: none;
        transition: 0.3s;
        border: 2px solid transparent;
    }

    .comment-button:hover {
        background-color: #000000;
        border-color: #7aa8b7;
    }
$primary: #11998e;
$secondary: #fff82e;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

#search-box {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $white;
}
$primary: #11998e;
$secondary: #f5f542;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

#searchbox{
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $yellow;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

#search-box:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
#search-box{
  &:required,&:invalid { box-shadow:none; }
}
 
#search-box:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
#search-box{
  &:required,&:invalid { box-shadow:none; }
}
 
.searchbotton
{
 color: #ffffff;
        background-color: #000000;
 
} 
@media only screen and (max-width: 600px) {
#search-box
{
 width: 100%;
 color: #ffffff;
        background-color: #000000;
   background: url("https://github.com/missnhome/missn.github.io/assets/154452140/8fe76c58-6bd6-484d-8b6c-7b6cf9284b83") no-repeat left;
  background-size: 20px;
}
.searchbotton
{
 color: #ffffff;
        background-color: #000000;
 padding-left: 25px;
  background: url("https://github.com/missnhome/missn.github.io/assets/154452140/8fe76c58-6bd6-484d-8b6c-7b6cf9284b83") no-repeat left;
  background-size: 20px;
} 
    #main-content {
        margin: 5px;
    }

    #sidebar {
        max-width: 100%;
    }
}
